*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: sans-serif;
	color:white;
}
section{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center;
	scroll-snap-align: center;
}

.container {
	scroll-snap-type: y proximity;
	overflow-y: scroll;
	height: 100vh;
}


.one {
	background-color: red;
}
.two{
	background-color: rgb(33, 44, 55);
	height:50vh;
}
.three {
	background-color: rgb(88, 99, 150);
}
.four{
	background-color: rgb(3, 49, 3);
}